<!DOCTYPE html>
<html lang="en">
<head>
    <title>Smart Meter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
            body {
                    background-color: #f8f9fa;
            }
            .container {
                    margin-top: 100px;
            }
            .card {
                    padding: 20px;
                    border-radius: 10px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }
    </style>
    <script>
        function submitForm(event) {
            event.preventDefault();
            const meterId = document.getElementById('meter_id').value;
            const password = document.getElementById('pwd').value;

            fetch('/login-meter', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ meterId: meterId, password: password })
            })
            .then(response => response.json())
            .then(data => {
                if(data.status === 200){
                    localStorage.setItem('meterId', meterId);
                    window.location.href = '/meter-dashboard'; 
                } else {
                    alert(data.message);
                }
            })
            .catch((error) => {
                console.error('Error:', error);
                // Handle error response
            });
        }
    </script>
</head>
<body>

<div class="container">
        <div class="row justify-content-center">
                <div class="col-sm-6">
                        <div class="card">
                                <h2 class="text-center">Smart Meter</h2>
                                <form onsubmit="submitForm(event)">
                                        <div class="form-group">
                                                <label for="id">Meter ID:</label>
                                                <input type="text" class="form-control" id="meter_id" placeholder="Enter meter ID" name="meterid">
                                        </div>
                                        <div class="form-group">
                                                <label for="pwd">Password:</label>
                                                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
                                        </div>
                                        <button type="submit"  class="btn btn-dark btn-block">   <a href="meter_entry" class="btn btn-primary btn-block">Login</a>      </button>
                                        <a href="addMeter" class="btn btn-primary btn-block">New Registration</a>
                                </form>
                        </div>
                </div>
        </div>
</div>

</body>
</html>